  <div class="form">
    <h2>Log in <span class="label label-default"></span></h2>
    <%= form_for(:session, url: login_path) do |f| %>
      <div class="form-group" left = 20% width = 60%>
        <%= f.label :email %>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">
              <span class="glyphicon glyphicon-envelope"></span>
          </span>
          <%= f.email_field :email, class: 'form-control', placeholder: 'Email', 'aria-describedby': 'basic-addon1' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">
              <span class="glyphicon glyphicon-lock"></span>
          </span>
          <%= f.password_field :password, class: 'form-control', placeholder: 'Password', 'aria-describedby': 'basic-addon1' %>
        </div>
      </div>

      <%= f.label :remember_me, class: 'checkbox inline' do %>
          <%= f.check_box :remember_me %>
          <span>Remember me</span>
      <% end %>

      <%= f.submit 'Log in', class: 'btn btn-success btn-lg' %>

    <% end %>
  </div>