  <table class="table table-hover">
    <thead>
    <tr>
      <th class="col-sm-2 col-md-2 text-center">Order No</th>
      <th class="col-sm-2 col-md-2 text-center">User</th>
      <th class="col-sm-2 col-md-2 text-center">Price</th>
      <th class="col-sm-1 col-md-1 text-center">Months</th>
      <th class="col-sm-1 col-md-1 text-center">%</th>
      <th class="col-sm-1 col-md-1 text-center">Total</th>
      <th class="col-sm-1 col-md-1 text-center">Registr. date</th>
      <th class="col-sm-2 col-md-2 text-center">Action</th>
    </tr>
    </thead>
    <tbody>
    <% @orders.each do |order| %>
        <tr>
          <td class="col-sm-2 col-md-2 text-center">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle"
                      type="button"
                      id="dropdownMenu1"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="true">
                <%= order.id %><span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-wide" aria-labelledby="dropdownMenu1">
                <% order.goods.each do |good| %>
                    <li>
                      <span class="dropdown-menu-item">
                        <div class="media">
                          <div class="thumbnail pull-left">
                            <div class="media-left">
                              <%= image_tag(good.photo, class: 'media-object') %>
                            </div>
                            <div class="media-body">
                              <h5 class="media-heading">
                                <%= good.name %>
                              </h5>
                              Cost: <%= good.price %> UAH
                            </div>
                          </div>
                        </div>
                      </span>
                    </li>
                <% end %>
              </ul>
            </div>
          </td>
          <td class="col-sm-2 col-md-2 text-center">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle"
                      type="button"
                      id="dropdownMenu1"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="true">
                <%= order.user.full_name %><span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li>
                	<span class="dropdown-menu-item">
                    <strong>Name: </strong><%= order.user.full_name %>
                  </span>
                </li>
                <li>
                  <span class="dropdown-menu-item">
                    <strong>Email: </strong> <%= order.user.email %>
                  </span>
                </li>
                <li>
                	<span class="dropdown-menu-item">
                    <strong>Phone №: </strong> <%= order.user.phone_number %>
                  </span>
                </li>
                <li>
                	<span class="dropdown-menu-item">
                    <strong>VAT: </strong> <%= order.user.id_number %>
                  </span>
                </li>
              </ul>
            </div>
          </td>
          <td class="col-sm-2 col-md-2 text-center"><strong><%= order.total_price.round(2) %> UAH</strong></td>
          <td class="col-sm-1 col-md-1 text-center"><strong><%= order.months %></strong></td>
          <td class="col-sm-1 col-md-1 text-center"><strong><%= current_bank.fine %> %</strong></td>
          <td class="col-sm-1 col-md-1 text-center"><strong><%= order.total_price.round(2) %> UAH</strong></td>
          <td class="col-sm-1 col-md-1 text-center"><strong><%= order.created_at.to_date %></strong></td>
          <td class="col-sm-2 col-md-2 text-center">
            <div class="btn-group">
              <%= link_to 'accept', "/admin/orders/#{order.id}/credit",
                          method: :post,
                          class: 'btn btn-success'
              %>
              <%= link_to 'reject', "/admin/orders/#{order.id}",
                          method: :delete,
                          class: 'btn btn-danger'
              %>
            </div>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>