<div class="form-block">
  <%= form_for(@user, url: yield(:path)) do |f| %>
      <%= render 'layouts/error_messages' %>
      <div class="form-group">
        <%= f.label :full_name, 'Name' %>
        <div class="input-group">
                          <span class="input-group-addon" id="basic-addon1">
                              <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                          </span>
          <%= f.text_field :full_name,
                           class: 'form-control',
                           placeholder: 'Name',
                           type: 'name',
                           'aria-describedby': 'basic-addon1' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :id_number, 'VAT identification number' %>
        <div class="input-group">
                          <span class="input-group-addon" id="basic-addon1">
                              <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                          </span>
          <%= f.text_field :id_number,
                           class: 'form-control bfh-phone',
                           placeholder: 'VAT id No',
                           'data-format': 'dddddddddd' %>
        </div>
      </div>

      <div class="form-group" left = 20% width = 60%>
        <%= f.label :email, 'Email address' %>
        <div class="input-group">
                          <span class="input-group-addon" id="basic-addon1">
                              <span class="glyphicon glyphicon-envelope"></span>
                          </span>
          <%= f.email_field :email,
                            class: 'form-control',
                            placeholder: 'Email',
                            'aria-describedby': 'basic-addon1' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :password, 'Password' %>
        <div class="input-group">
                          <span class="input-group-addon" id="basic-addon1">
                              <span class="glyphicon glyphicon-lock"></span>
                          </span>
          <%= f.password_field :password,
                               class: 'form-control',
                               placeholder: 'Password',
                               'aria-describedby': 'basic-addon1' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, 'Confirmation' %>
        <div class="input-group">
                          <span class="input-group-addon" id="basic-addon1">
                              <span class="glyphicon glyphicon-lock"></span>
                          </span>
          <%= f.password_field :password_confirmation,
                               class: 'form-control',
                               placeholder: 'Password confirmation',
                               'aria-describedby': 'basic-addon1' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :phone_number, 'Phone' %>
        <label for="InputName">Phone</label>
        <div class="input-group">
                          <span class="input-group-addon" id="basic-addon1">
                              <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
                          </span>
          <%= f.text_field :phone_number,
                           class: 'form-control bfh-phone',
                           placeholder: 'Phone',
                           'data-format': '+38 (0dd) ddd-dd-dd' %>

        </div>
      </div>


      <%= f.submit yield(:button_text), class: 'btn btn-success btn-lg' %>
  <% end %>
</div>