<div class="row">
  <div class="col-md-2">
    <%= render 'layouts/navigation' %>
  </div>

  <div class="col-md-10">
    <%= render 'layouts/flash_messages' %>
    <div id="office">
      <% provide(:button_text, 'Submit') %>
      <% provide(:path, "/users/#{current_user.id}") %>
      <%= render 'form' %>
    </div>
  </div>
</div>
