<div class="row">
  <div class="col-md-2">
    <%= render 'layouts/navigation' %>
  </div>

  <div class="col-md-10">
    <%= render 'layouts/flash_messages' %>
    <table class="table table-hover">
      <thead>
      <tr>
        <th class="col-sm-2 col-md-2 text-center">Order No</th>
        <th class="col-sm-2 col-md-2 text-center">Price</th>
        <th class="col-sm-1 col-md-1 text-center">Months</th>
        <th class="col-sm-1 col-md-1 text-center">%</th>
        <th class="col-sm-2 col-md-2 text-center">Total</th>
        <th class="col-sm-2 col-md-2 text-center">Registr. date</th>
        <th class="col-sm-2 col-md-2 text-center">Status</th>
      </tr>
      </thead>
      <tbody>
      <% @orders.each do |order| %>
          <tr>
            <td class="col-sm-2 col-md-2 text-center">
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle"
                        type="button"
                        id="dropdownMenu1"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="true">
                  <%= order.id %><span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-wide" aria-labelledby="dropdownMenu1">
                  <% order.goods.each do |good| %>
                      <li>
                      <span class="dropdown-menu-item">
                        <div class="media">
                          <%= link_to good_path(good.id),
                                      class: 'thumbnail pull-left' do %>
                            <div class="media-left">
                              <%= image_tag(good.photo, class: 'media-object') %>
                            </div>
                            <div class="media-body">
                              <h5 class="media-heading">
                                <%= good.name %>
                              </h5>
                              Cost: <%= good.price %> UAH
                            </div>
                          <% end %>
                        </div>
                      </span>
                      </li>
                  <% end %>
                </ul>
              </div>
            </td>
            <td class="col-sm-2 col-md-2 text-center"><strong><%= order.price.round(2) %> UAH</strong></td>
            <td class="col-sm-1 col-md-1 text-center"><strong><%= order.months %></strong></td>
            <td class="col-sm-1 col-md-1 text-center"><strong><%= current_bank.interest_rate %> %</strong></td>
            <td class="col-sm-2 col-md-2 text-center"><strong><%= order.total_price.round(2) %> UAH</strong></td>
            <td class="col-sm-2 col-md-2 text-center"><strong><%= order.created_at.to_date %></strong></td>
            <td class="col-sm-2 col-md-2 text-center"><strong><%= order.status %></strong></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

