<div class="content">
  <h2>Cart <span class="label label-default"></span></h2>

    <%= form_tag orders_path, method: :post do %>

      <%= render 'layouts/flash_messages' %>

      <table class="table table-hover">

        <thead>
        <tr>
          <th>Product</th>
          <!--<th>Quantity</th>-->
          <th class="text-center">Price</th>
          <!--<th class="text-center">Total</th>-->
          <th>&nbsp;</th>
        </tr>
        </thead>


        <tbody>
          <% @shopping_cart.goods.each do |good| %>
              <tr>
                <td class="col-sm-8 col-md-6">
                  <div class="media">
                    <a class="thumbnail pull-left" href="#">
                      <!--image of good-->
                      <%= image_tag good.photo, class: 'media-object' %>
                      <!--<img class="media-object" src="images/gibson_les_paul_standard_2012_hs.png">-->
                    </a>
                    <div class="media-body">
                      <h4 class="media-heading">
                        <%= link_to "#{good.name}", good_path(good.id) %>
                        <!--<a href="item.html">Gibson Les Paul Standard 2012 HS</a>-->
                      </h4>
                      <span>Status: </span>
                      <span class="text-success">
                      <strong>In Stock</strong>
                    </span>
                    </div>
                  </div>
                </td>
                <!--<td class="col-sm-1 col-md-1" style="text-align: center">-->
                  <!--  -->
                  <!--<input type="number" class="form-control" id="qty_input" value="1">-->
                <!--</td>-->
                <td class="col-sm-1 col-md-1 text-center">
                  <strong class="good_price"><%= good.price %></strong>
                </td>
                <!--<td class="col-sm-1 col-md-1 text-center">-->
                  <!--<strong>sum</strong>-->
                <!--</td>-->
                <td class="col-sm-1 col-md-1 text-center">
                  <%= link_to "/shopping_cart/goods/#{good.id}",
                              method: :delete,
                              class: 'btn btn-danger' do %>
                      <span class="glyphicon glyphicon-remove"></span> Remove
                  <% end %>

                  <!--<button type="button" class="btn btn-danger">-->
                  <!--<span class="glyphicon glyphicon-remove"></span> Remove-->
                  <!--</button></td>-->
                  </tr>
          <% end %>
        </tbody>


        <tfoot>
        <tr>
          <td> &nbsp;
            <div class="slide">
              <div class="col-md-2">
                <label for="months">Months:</label>
              </div>
              <div class="col-md-8">
                <!--<input type="range" min="2" max="84" id="sliderInput"-->
                       <!--oninput="monthsAmountSlider()" value="2">-->

                <input type="text" id="sliderInput" data-slider-id="sliderInputDS"
                       data-slider-min="2" data-slider-max="84" data-slider-step="1"
                        data-slider-value="2" data-slider-orientation="horisontal"
                />
              </div>
              <div class="col-md-2">
                <%= text_field_tag :months, 2, id: 'numberInput', class: 'form-control' %>
                <!--<input type="number" id="numberInput" class="form-control" value="2">-->
              </div>
            </div>
          </td>
          <!--<td> &nbsp; </td>-->
          <!--<td> &nbsp; </td>-->
          <td>
            <div class="slide"></div>
          </td>
          <td>
            &nbsp;
          </td>
        </tr>
        <tr>
          <td class="text-center"><h4>Monthly: <span id="monthly">0</span> UAH</h4></td>
          <td class="text-center"><h3>Total</h3></td>
          <td class="text-center"><h3><span id="total_sum">0</span> UAH</h3></td>
        </tr>
        <tr>
          <td> &nbsp; </td>
          <!--<td> &nbsp; </td>-->
          <!--<td> &nbsp; </td>-->
          <td>

            <%= link_to :back, class: 'btn btn-default' do %>
              <span class="glyphicon glyphicon-shopping-cart"></span> Back
            <% end %>
          </td>
          <td class="text-center">
            <%= submit_tag 'Checkout',  class: 'btn btn-success' %>
          </td>
        </tr>
        </tfoot>
      </table>
    <% end %>
</div>
