<div class="row">
  <div class="col-md-2">
    <%= render 'layouts/navigation' %>
  </div>

  <div class="col-md-10">
    <%= render 'layouts/flash_messages' %>
    <table class="table table-hover">
      <thead>
      <tr>
        <th class="col-sm-2 col-md-2 text-center">Credit No</th>
        <th class="col-sm-2 col-md-2 text-center">Price</th>
        <th class="col-sm-1 col-md-1 text-center">%</th>
        <th class="col-sm-2 col-md-2 text-center">Registr. date</th>
        <th class="col-sm-2 col-md-2 text-center">Payment date</th>
        <th class="col-sm-2 col-md-2 text-center">Payout</th>
        <th class="col-sm-2 col-md-2 text-center">Minimal payment</th>
        <th class="col-sm-1 col-md-1 text-center">Months</th>
        <th class="col-sm-2 col-md-2 text-center">Fine</th>
        <th class="col-sm-2 col-md-2 text-center">History</th>
      </tr>
      </thead>
      <tbody>
      <% @orders.each do |order| %>
          <tr>
            <td class="col-sm-2 col-md-2 text-center">
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle"
                        type="button"
                        id="dropdownMenu1"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="true">
                  <%= order.credit.id %><span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <% order.goods.each do |good| %>
                      <li>
                        <div class="media">
                          <a class="thumbnail pull-left" href="#">
                            <%= image_tag good.photo %>
                          </a>
                          <div class="media-body">
                            <p class="media-heading">
                              <%= link_to good.name, good %>
                              <!--<a href="#">HP ProBook</a><br>-->
                              Cost: <%= good.price %> UAH<br>
                            </p>
                          </div>
                        </div>
                      </li>
                  <% end %>
                </ul>
              </div>
            </td>
            <td class="col-sm-2 col-md-2 text-center"><strong><%= order.price.round(2) %> UAH</strong></td>
            <td class="col-sm-1 col-md-1 text-center"><strong><%= order.credit.bank.interest_rate %> %</strong></td>
            <td class="col-sm-1 col-md-1 text-center"><strong><%= order.credit.created_at.to_date %></strong></td>
            <td class="col-sm-1 col-md-1 text-center"><strong><%= order.credit.next_payment_date.to_date %></strong></td>
            <td class="col-sm-1 col-md-1 text-center"><strong><%= order.credit.monthly_payment.round(2) %></strong></td>
            <td class="col-sm-1 col-md-1 text-center"><strong><%= order.credit.minimal_payment.round(2) %></strong></td>
            <td class="col-sm-1 col-md-1 text-center"><strong><%= order.credit.loan_term %></strong></td>
            <td class="col-sm-2 col-md-2 text-center"><strong><%= order.credit.fine %> UAH</strong></td>
            <td class="col-sm-2 col-md-2 text-center">
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">History<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li>
                    <table>
                      <thead>
                      <tr>
                        <td class="col-md-2 text-center">Date</td>
                        <td class="col-md-2 text-center">Payment</td>
                      </tr>
                      </thead>
                      <tbody>
                      <% order.credit.payments.each do |payment| %>
                          <tr>
                            <td class="col-md-2 text-center"><%= payment.created_at.to_date %></td>
                            <td class="col-md-2 text-center"><%= payment.amount.round(2) %></td>
                          </tr>
                      <% end %>
                      </tbody>
                    </table>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

