<div class="row">
  <div class="col-md-2">
    <%= render 'layouts/navigation' %>
  </div>

  <div class="col-md-10">
    <%= render 'layouts/flash_messages' %>
    <%= form_for @payment, url: payment_path do |f| %>
        <table class="table table-hover">
          <thead>
          <tr>
            <th class="col-sm-4 col-md-4 text-center">Credit No</th>
            <th class="col-sm-2 col-md-2 text-center">Total</th>
            <th class="col-sm-2 col-md-2 text-center">Minimal payment</th>
            <th class="col-sm-2 col-md-2 text-center">Rest</th>
            <th class="col-sm-2 col-md-2 text-center">Fine</th>
          </tr>
          </thead>
          <tbody>
          <% @orders.each do |order| %>
              <tr>
                <td class="col-sm-2 col-md-2 text-center">
                  <%= f.radio_button :credit_id, order.credit.id %>
                  <div class="dropdown">
                    <label class="btn btn-default dropdown-toggle"
                           type="button" id="dropdownMenu1"
                           data-toggle="dropdown"
                           aria-haspopup="true"
                           aria-expanded="true">
                      <%= order.credit.id %><span class="caret"></span>
                    </label>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                      <% order.goods.each do |good| %>
                          <li>
                            <div class="media">
                              <a class="thumbnail pull-left" href="#">
                                <%= image_tag good.photo %>
                              </a>
                              <div class="media-body">
                                <p class="media-heading">
                                  <%= link_to good.name, good %>
                                  Cost: <%= good.price %> UAH<br>
                                </p>
                              </div>
                            </div>
                          </li>
                      <% end %>
                    </ul>
                  </div>
                </td>
                <td class="col-sm-2 col-md-2 text-center"><strong><%= order.total_price %> UAH</strong></td>
                <td class="col-sm-1 col-md-1 text-center"><strong><%= order.credit.minimal_payment %> UAH</strong></td>
                <td class="col-sm-2 col-md-2 text-center"><strong><%= order.credit.rest %> UAH</strong></td>
                <td class="col-sm-2 col-md-2 text-center"><strong><%= order.credit.fine %></strong></td>
              </tr>
          <% end %>
          </tbody>
        </table>
        <div class="input-field">
          <div class="form-group">
            <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">
            <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
          </span>
              <%= f.number_field :amount, class: 'form-control bfh-phone'%>
              <span class="input-group-btn">
            <%= f.submit 'Pay', class: 'btn btn-success' %>
          </span>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>

