<h1>Goods#edit</h1>
<p>Find me in app/views/goods/edit.html.erb</p>

<%= form_for @good, url: goods_path, html: { multipart: true} do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :price %>
    <%= f.text_field :price %>

    <%= f.label :number %>
    <%= f.text_field :number %>

    <%= f.file_field :photo %>

    <%= f.submit 'submit changes' %>

<% end %>