<div class="container">
  <div id="products">
    <div class="list-group">
      <%= will_paginate %>
      <div class="panel panel-default">
        <div class="panel-body">
          <div>
            Sort by price:
            <div class="btn-group" role="group" aria-label="...">
              <%= link_to 'low to high',
                          { controller: 'goods', order: 'asc' },
                          class: 'btn btn-default' %>
              <%= link_to 'high to low',
                          { controller: 'goods', order: 'desc' },
                          class: 'btn btn-default' %>
            </div>
          </div>
        </div>
      </div>
      <% @goods.each do |good| %>
        <div class="list-group-item good-item">
          <div class = "row">
            <div class="col-md-4" >
              <figure class="pull-left">
                <%= image_tag good.photo,
                        class: 'good-photo',
                        alt: 'good' %>
              </figure>
            </div>
            <div class="col-md-5 good-description">
              <h2 class="list-group-item-heading">
                <%= good.name %>
              </h2>
              <p class="list-group-item-text">
                <%= good.description %>
              </p>
            </div>
            <div class="col-md-3 text-center">
              <h2> <%= good.price %> <small> UAH </small></h2>
              <%= link_to 'View', good_path(good.id),
                          class: 'btn btn-primary btn-lg btn-block btn-squared' %>
              <% if can? :manage, ShoppingCart %>
                <% if good.number > 0 %>
                  <%= link_to 'Add to cart', "/shopping_cart/goods/#{good.id}",
                          method: :post,
                          class: 'btn btn-success btn-lg btn-block btn-squared'
                  %>
                <% else %>
                  <a class="btn btn-success" disabled="true">Add to cart</a>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <%= will_paginate %>
    </div>
  </div>
</div>
