<div id="goods_catalog">
    <h2>Goods catalog<span class="label label-default"></span></h2>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <h3 class = "text-center">Phones</h3>
                <img class = "catalog_img" src="images/categories/phones.png">
                <div class="caption">
                    <div class = "text-center">
                        <a href="cat-Phones.html" class="btn btn-primary" role="button">View</a>
                        <a href="cat-Phones.html" class="btn btn-success" role="button">Update</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <h3 class = "text-center">ADD NEW</h3>
                <img class = "catalog_img" class src="images/categories/new.png">
                <div class="caption">
                    <div class = "text-center">
                        <a href="new_category.html" class="btn btn-success" role="button">ADD</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>