<div id="goods_catalog">
    <h2>All goods<span class="label label-default"></span></h2>
    <div class="panel panel-default">
        <div class="panel-body">
            <h4>5 items shown.</h4>
            <div>
                Sort by price 
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default">low to high</button>
                    <button type="button" class="btn btn-default">high to low</button>
                </div>
            </div>
        </div>
    </div>
    <div class="list-group-item" >
        <h4 class = "text-center">Add new good</h4>
        <form method="GET" id="register_forms">
            <div class="row">
                <div class="col-md-8">
                    <input type="name" class="form-control" placeholder="Good name" aria-describedby="basic-addon1">
                </div>
                <div class="col-md-3">
                    <input type="number" class="form-control" placeholder="Price" aria-describedby="basic-addon1">
                </div>
                <div class="col-md-1">
                    <h4>UAH</h4>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <h4>Upload good title picture</h4>
                    <form action="" method="post" enctype="multipart/form-data" id="js-upload-form">
                        <div class="form-inline">
                            <div class="form-group">
                                <input type="file" name="files[]" id="js-upload-files" multiple="">
                            </div>
                        </div>
                    </form>
                    <!-- Drop Zone -->
                    <div class="upload-drop-zone" id="drop-zone"></div>
                </div>

                <div class="col-md-8">
                    <textarea class="form-control" ceholder="Good description" rows="4" placeholder="Description"></textarea>
                </div>
            </div>
            <br>
            <div class="caption">
                <div class = "text-center">
                    <button type="submit" class="btn btn-success btn-lg" >Add good</button>
                </div>
            </div>
        </form>
    </div>

    <div class="list-group-item" >
        <form method="GET" id="register_forms">
            <div class="row">
                <div class="col-md-8">
                    <input type="name" class="form-control" placeholder="Good name" value = "Apple iPhone 7 128GB Gold" aria-describedby="basic-addon1">
                </div>
                <div class="col-md-3">
                    <input type="name" class="form-control" placeholder="Price" value="25 760" aria-describedby="basic-addon1">
                </div>
                <div class="col-md-1">
                    <span><h4>UAH</h4></span>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <figure class="pull-left">
                        <img class="media-object img-rounded img-responsive" src="images/apple_iphone_7_128gb_gold.png" alt="Apple iPhone 7 128GB Gold">
                    </figure>
                </div>

                <div class="col-md-8">
                    <textarea class="form-control" ceholder="Good description" rows="4" placeholder="Description">Экран (4.7", IPS, 1334x750)/ Apple A10 Fusion/ основная камера: 12 Мп, фронтальная камера: 7 Мп/ RAM 2 ГБ/ 128 ГБ встроенной памяти/ 3G/ LTE/ GPS/ Nano-SIM/ iOS 10
                    </textarea>
                    <p>Upload good title picture</p>
                    <form action="" method="post" enctype="multipart/form-data" id="js-upload-form">
                        <div class="form-inline">
                            <div class="form-group">
                                <input type="file" name="files[]" id="js-upload-files" multiple="">
                            </div>
                        </div>
                    </form>
                    <!-- Drop Zone -->
                    <div class="upload-drop-zone" id="drop-zone">
                    </div>
                </div>
            </div>
            <div class="caption">
                <div class = "text-center">
                    <button type="submit" class="btn btn-success btn-lg" >Update</button>
                    <button type="del" class="btn btn-danger btn-lg" >Delete</button>
                </div>
            </div>
        </form>
    </div>
</div>