<div class="container">
  <div id="products">
    <div class="list-group">
      <%= will_paginate %>
      <% @goods.each do |good| %>
          <div class="list-group-item">
            <div class = "row">
              <div class="media col-md-3" >
                <figure class="pull-left">
                  <%= image_tag good.photo,
                                class: 'media-object img-responsive',
                                width: '200',
                                height: '200',
                                alt: 'good' %>
                </figure>
              </div>
              <div class="col-md-6">
                <h2 class="list-group-item-heading">
                  <%= good.name %>
                </h2>
                <p class="list-group-item-text">
                  <%= good.description %>
                </p>
              </div>
              <div class="col-md-3 text-center">
                <h2> <%= good.price %> <small> UAH </small></h2>
                <%= link_to 'View', good_path(good.id), class: 'btn btn-primary btn-lg btn-block' %>
                <!--<button type="button" class="btn btn-primary btn-lg btn-block">View</button>-->
                <% if can? :manage, ShoppingCart %>
                    <% if good.number > 0 %>
                        <%= link_to 'Add to cart', "/shopping_cart/goods/#{good.id}",
                                    method: :post,
                                    class: 'btn btn-success btn-lg btn-block'
                        %>
                    <% else %>
                        <a class="btn btn-success" disabled="true">Add to cart</a>
                    <% end %>
                <% end %>
              </div>
            </div>
          </div>
      <% end %>
      <%= will_paginate %>
    </div>
  </div>
</div>
