<div class="content">
  <div class="good-block">
    <div class="thumbnail">
      <%= image_tag @good.photo,
                    class: 'img-responsive',
                    alt: 'good' %>
      <div class="caption-full">
        <div class="page-header">
          <h2><%= @good.name %><span class="pull-right price"><%= @good.price %> UAH</span></h2>
        </div>
        <p><%= @good.description %></p>
      </div>
      <div class="text-right">
        <div class="btn-group btn-group-lg" role="group" aria-label="...">
          <div class="btn-group" role="group">
            <% if can? :manage, ShoppingCart %>
                <% if @good.number > 0 %>
                    <%= link_to 'Add to cart', "/shopping_cart/goods/#{ @good.id }",
                                method: :post,
                                class: 'btn btn-success btn-lg btn-block'
                    %>
                <% else %>
                    <a class="btn btn-success" disabled="true">Add to cart</a>
                <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>