  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <h3 class = "text-center">Add new category</h3>
        <%= form_for @category, url: admin_categories_path, html: { multipart: true } do |f| %>
            <%= f.text_field :name,
                             class: 'form-control',
                             placeholder: 'Category name',
                             'aria-describedby': 'basic-addon1' %>
            <!--<input type="name" class="form-control" placeholder="Category name" aria-describedby="basic-addon1">-->
            <h4>Upload category title picture</h4>
            <%= f.file_field :image %>
            <!--<form action="" method="post" enctype="multipart/form-data" id="js-upload-form">-->
            <!--<div class="form-inline">-->

            <!--<div class="form-group">-->
            <!--<input type="file" name="files[]" id="js-upload-files" multiple="">-->
            <!--</div>-->
            <!--</div>-->
            <!--</form>-->
            <!-- Drop Zone -->
            <!--<div class="upload-drop-zone" id="drop-zone">-->
            <!--Just drag and drop files here-->
            <!--</div>-->
            <div class="caption">
              <div class = "text-center">
                <%= f.submit 'Add cateogory', class: 'btn btn-success btn-lg' %>
                <!--<button type="submit" class="btn btn-success btn-lg" >Add category</button>-->
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>

    <% @categories.each_slice(3) do |categories_group| %>
      <div class="row">
        <% categories_group.each do |category| %>
          <%= form_for @category,
                       url: "/admin/categories/#{category.id}",
                       method: :put,
                       html: { multipart: true } do |f| %>
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <%= f.text_field :name, class: 'form-control', value: category.name %>

                <%= image_tag category.image %>
                <b>Upload new category title picture</b>
                  <div class="form-inline">
                    <div class="form-group">
                      <%= f.file_field :image, value: category.image %>
                    </div>
                  </div>
                <!-- Drop Zone -->
                <div class="upload-drop-zone" id="drop-zone">
                </div>
                <div class="caption">
                  <div class = "text-center">
                    <%= submit_tag 'Update', class: 'btn btn-success' %>
                    <%= link_to 'Delete', "/admin/categories/#{category.id}", method: :delete, class: 'btn btn-danger' %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
      <% end %>
      </div>
    <% end %>