@import "bootstrap-sprockets";
@import "bootstrap";

body {
  height: 100%;
}

main {
  position: relative;
  min-height: 100%;
  height: auto !important;
  width: 100%;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.form {
  max-width: 500px;
  margin: 0 auto;
}

.input-field{
  left: 70%;
  position: relative;
  width:30%;
}

.content{
  top: 40%;
  left: 15%;
  position: relative;
  width:70%;
  height:50%;
}

.media-body{
  padding: 1px;
}

.catalog_img{
  width: 200px;
}

.kv-avatar .file-preview-frame,.kv-avatar .file-preview-frame:hover {
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  text-align: center;
}
.kv-avatar .file-input {
  display: table-cell;
  max-width: 220px;
}

.media{
  padding: 2px;
}

.media-heading{
  padding: 1px;
}

.media-object{
  width: 72px; height: 72px;
}

.text-right{
  width:95%;
}

.btn-group-lg{
  right: 0%;
}

.img-responsive{
  width:300px;
  height:300px;
}

a.list-group-item {
  height: auto;
  min-height: 200px;
}

a.list-group-item.active small {
  color:#eee;
}

/********navigation*********/

.navigation {
  height: 100%;
  width: 100%;
  float: left;
}

@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -30%;
  }

  .row-offcanvas-left.active {
    left: 30%;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 30%;
    margin-left: 10px;
  }
}


/* Sidebar navigation */
.nav-sidebar {
  background-color: #f5f5f5;
  margin: -20px -15px 20px;

}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  color: #55595d;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #838486;;
}

.nav-sidebar > li > a:hover,
.nav-sidebar > li > a:focus {
  background-color: #9a9b9d;
  color: #fff;
}


#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

#wrap{
  display: none;
  opacity: 0.8;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 16px;
  background-color: rgba(1, 1, 1, 0.725);
  z-index: 100;
  overflow: auto;
}

#window{
  width: 60%;
  height: 80%;
  margin: 50px auto;
  display: none;
  background: #fff;
  z-index: 200;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 16px;
}

.close{
  margin-left: 364px;
  margin-top: 4px;
  cursor: pointer;
}

#ex1Slider .slider-selection {
  background: #BABABA;
}

.glyphicon-shopping-cart{
  font-size: 1.2em;
}

a.thumbnail:hover {
  text-decoration: none;
}

.thumbnail {
  color: #262626;
  border: none;
  border-radius: 0;
  transition: box-shadow 0.2s ease-in-out;

}

.thumbnail:hover {
  color: #262626;
  box-shadow: 0 0 10px #cfcfd2;
}


.navbar  {
  background-color: #616161;

}

.navbar-default {
  border: none;
  border-radius: 0;
  color: #ffffff;
}

.navbar-default .navbar-brand {
  color: #FFF;
  font-weight: bold;
  font-size: 1.6em;
}

.navbar-default .navbar-brand:hover {
  color: #f1f1f1;
}

.navbar-default .navbar-nav > li > a {
  color: #FFF;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #f1f1f1 !important;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #7b7b7b;
  color: #fff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
}

.media-object {
  /*width: 200px;
  height: 200px;*/
}
#registration_box{
  top: 40%;
  left: 20%;
  position: relative;
  width:60%;
  height:50%;
}

.close{
  margin-left: 364px;
  margin-top: 4px;
  cursor: pointer;
}

#ex1Slider .slider-selection {
  background: #BABABA;
}

#item_box{
  top: 40%;
  left: 20%;
  position: relative;
  width:60%;
  height:50%;
}

.media-body{
  padding: 1px;
}

.catalog_img{
  width: 200px;
}

.kv-avatar .file-preview-frame,.kv-avatar .file-preview-frame:hover {
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  text-align: center;
}
.kv-avatar .file-input {
  display: table-cell;
  max-width: 220px;
}

.media{
  padding: 2px;
}

.media-heading{
  padding: 1px;
}

.media-object{
  width: 72px; height: 72px;
}

.input-field{
  left: 70%;
  position: relative;
  width:30%;
}

.text-right{
  width:95%;
}

#registration_box{
  top: 40%;
  left: 20%;
  position: relative;
  width:60%;
  height:50%;
}

.btn-group-lg{
  right: 0%;
}

.img-responsive{
  width:300px;
  height:300px;
}

.good_image{
  position: relative;
  width: 10%;
  height: 10%;

  left: 20%;
}

a.list-group-item {
  height: auto;
  min-height: 200px;
}

a.list-group-item.active small {
  color:#eee;
}

.dropdown-menu-wide {
  width: 250px;
}

.dropdown-menu-item {
  display: block;
  padding: 5px;
}

.dropdown-menu-item a.thumbnail {
  margin-bottom: 0;
}

.form-block {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.good-block .thumbnail {
  padding: 15px;
}

.good-block .thumbnail:hover {
  box-shadow: none;
}

.good-item .good-description {
  padding-bottom: 30px;
}

.price {
  color: #848484;
  padding-right: 20px;
}

img.good-photo {
  width: 100%;
}

.btn-squared {
  border-radius: 0;
}

.search-parameters-panel {
  background-color: #f3f6f8;
}

.search-param-block {
  display: inline-block;
  width: 30%;
}

footer {
  position: relative;
  width: 100%;
  height: 30px;
}