<div class="row">
  <div class="col-md-1">

  </div>
  <div class="col-md-10">
    <div class="goods_catalog">
      <div class="row">
        <% @categories.each_slice(4) do |categories_group| %>
            <div class="row">
              <% categories_group.each do |category| %>
                  <div class="col-sm-6 col-md-3">
                    <%= link_to "categories/#{category.id}/goods", class: 'thumbnail' do %>
                        <!--<div class="thumbnail">-->

                        <%= image_tag category.image %>
                        <h3 class="text-center"><%= category.name %></h3>
                        <!--<img src="images/categories/computers.png" style="width: 200px;">-->
                        <!--</div>-->
                    <% end %>
                  </div>
              <% end %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-1">

  </div>
</div>