<div id="goods_catalog">
    <h2>Goods catalog<span class="label label-default"></span></h2>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <input type="name" class="form-control" placeholder="Phones" aria-describedby="basic-addon1">
                <img class = "catalog_img" src="images/categories/phones.png">
                <b>Upload new category title picture</b>
                    <form action="" method="post" enctype="multipart/form-data" id="js-upload-form">
                        <div class="form-inline">
                            <div class="form-group">
                                <input type="file" name="files[]" id="js-upload-files" multiple="">
                            </div>
                        </div>
                    </form>
                    <!-- Drop Zone -->
                    <div class="upload-drop-zone" id="drop-zone">
                    </div>
                <div class="caption">
                    <div class = "text-center">
                        <a href="cat-Phones.html" class="btn btn-primary" role="button">View</a>
                        <a href="cat-Phones.html" class="btn btn-success" role="button">Update</a>
                        <a href="cat-Phones.html" class="btn btn-danger" role="button">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <h3 class = "text-center">Add new category</h3>
                <form method="GET" id="register_forms">
                    <input type="name" class="form-control" placeholder="Category name" aria-describedby="basic-addon1">
                    <h4>Upload category title picture</h4>
                    <form action="" method="post" enctype="multipart/form-data" id="js-upload-form">
                        <div class="form-inline">
                            <div class="form-group">
                                <input type="file" name="files[]" id="js-upload-files" multiple="">
                            </div>
                        </div>
                    </form>
                    <!-- Drop Zone -->
                    <div class="upload-drop-zone" id="drop-zone">
                        Just drag and drop files here
                    </div>
                    <div class="caption">
                        <div class = "text-center">
                            <button type="submit" class="btn btn-success btn-lg" >Add category</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>