<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <% @goods.each do |good| %>
        <%= link_to good, class: 'list-group-item' do %>
            <div class="media col-md-3" >
              <figure class="pull-left">
                <img class="media-object img-rounded img-responsive" width="200" height="200" src="images/good_img.png" alt="good" >
              </figure>
            </div>
            <div class="col-md-6">
              <h4 class="list-group-item-heading"><%= good.name %></h4>
            </div>
            <div class="col-md-3 text-center">
              <h2> <%= good.price %> <small> UAH </small></h2>
              <button type="button" class="btn btn-primary btn-lg btn-block">Cart</button>
              <button type="button" class="btn btn-success btn-lg btn-block">Buy</button>
            </div>
        <% end %>
    <% end %>
  </div>
  <div class="col-md-2"></div>
</div>

