<main>
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="col-sm-4 col-md-4 text-center">Name</th>
        <th class="col-sm-2 col-md-2 text-center">Email</th>
        <th class="col-sm-2 col-md-2 text-center">Phone</th>
        <th class="col-sm-1 col-md-1 text-center">VAT id</th>
        <th class="col-sm-2 col-md-2 text-center">Role</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <%= form_for user, url: user_path, method: :patch do |f| %>
          <tr>
            <td class="col-sm-4 col-md-4 text-center"><%= user.full_name %></td>
            <td class="col-sm-2 col-md-2 text-center"><%= user.email %></td>
            <td class="col-sm-2 col-md-2 text-center"><%= user.phone_number %></td>
            <td class="col-sm-1 col-md-1 text-center"><%= user.id_number %></td>
            <% if current_user.is?(:admin) %>
              <td class="col-sm-2 col-md-2 text-center">
                <%= select_tag user.id,
                    options_for_select([
                                           ['user', 'user'],
                                           ['manager', 'manager'],
                                           ['admin', 'admin']
                                        ],
                                       user.role),
                    class: 'form-control role_select'
                %>
              </td>
            <% else %>
                <td class="col-sm-2 col-md-2 text-center"><%= user.role %></td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</main>