<!--add new good-->
  <div class="panel panel-default">
    <div class="panel-heading"><div class="panel-title">Add new good</div></div>
    <div class="panel-body">
      <%= form_for @good, url: admin_goods_path, html: { multipart: true } do |f| %>
        <div class="row">
          <div class="col-md-8">
            <%= f.text_field :name,
                             class: 'form-control',
                             placeholder: 'Good name',
                             'aria-describedby': 'basic-addon1'
            %>
          </div>
          <div class="col-md-3">
            <%= f.number_field :price,
                               class: 'form-control',
                               placeholder: 'Price',
                               'aria-describedby': 'basic-addon1'
            %>
          </div>
          <div class="col-md-1">
            <h4>UAH</h4>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4">
            <h4>Upload good title picture</h4>
            <%= f.file_field :photo %>
          </div>
          <div class="col-md-8">
            <%= f.text_area :description,
                            class: 'form-control',
                            placeholder: 'Description',
                            rows: 8
            %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-input">
              <%= f.collection_select :category_id, @categories, :id, :name, class: 'form-control' %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-input">
              <%= f.text_field :number,
                               class: 'form-control',
                               placeholder: 'Number',
                               'aria-describedby': 'basic-addon1'
              %>
            </div>
          </div>
        </div>
        <br>
        <div class="caption">
          <div class = "text-center">
            <%= f.submit 'Add good', class: 'btn btn-success brn-lg' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>


<div class="panel panel-default search-parameters-panel">
  <div class="panel-body">
    <div>
      <div class="search-param-block">
        Find by name:
        <%= form_tag admin_goods_path, method: :get, class: '' do %>
          <div class="input-group">
            <%= text_field_tag :text, '',
                           class: 'form-control bfh-phone',
                           placeholder: 'Name' %>
            <span class="input-group-btn">
              <%= button_tag type: 'submit', class: 'btn btn-default' do %>
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              <% end %>
            </span>
          </div>
        <% end %>
      </div>
      <div class="search-param-block">
        Filter by category:
        <%= form_tag admin_goods_path, method: :get, class: '' do %>
          <div class="input-group">
            <%= collection_select :good, :category_id,
                                  @categories,
                                  :id, :name,
                                  {}, { class: 'form-control' } %>
            <span class="input-group-btn">
              <%= button_tag 'Find',type: 'submit', class: 'btn btn-default' do %>
                <span class="glyphicon glyphicon-search"></span>
              <% end %>
            </span>
          </div>
        <% end %>
      </div>
      <div class="search-param-block">
        Show all goods
        <div class="input-group">
          <%= link_to 'Show all', admin_goods_path, class: 'btn btn-default' %>
        </div>
      </div>
    </div>
  </div>
</div>

<!--all goods-->
  <%= will_paginate @goods %>
  <% @goods.each do |good| %>
    <div class="list-group-item" >
      <%= form_for @good, url: "/admin/goods/#{good.id}",
                   method: :put, html: { multipart: true } do |f| %>
        <div class="row">
          <div class="col-md-8">
            <%= f.text_field :name,
                             class: 'form-control',
                             placeholder: 'Good name',
                             value: good.name,
                             'aria-describedby': 'basic-addon1' %>
          </div>
          <div class="col-md-3">
            <%= f.text_field :price,
                             class: 'form-control',
                             placeholder: 'Price',
                             value: good.price,
                             'aria-describedby': 'basic-addon1' %>
          </div>
          <div class="col-md-1">
            <span><h4>UAH</h4></span>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4">
            <figure class="pull-left">
              <%= image_tag good.photo, alt: good.name, class: 'media-object img-responsive' %>
              <!--<img class="media-object img-rounded img-responsive" src="images/apple_iphone_7_128gb_gold.png" alt="Apple iPhone 7 128GB Gold">-->
            </figure>
          </div>

          <div class="col-md-8">
            <%= f.text_area :description,
                            class: 'form-control',
                            rows: 8,
                            value: good.description

            %>
            <p>Upload good title picture</p>
              <div class="form-inline">
                <div class="form-group">
                  <%= f.file_field :photo %>
                </div>
              </div>
            <!-- Drop Zone -->
            <div class="upload-drop-zone" id="drop-zone">
            </div>
          </div>
        </div>
        <div class="caption">
          <div class = "text-center">
            <%= f.submit 'Update', class: 'btn btn-success btn-lg' %>
            <!--<button type="submit" class="btn btn-success btn-lg" >Update</button>-->
            <%= link_to 'Delete', "/admin/goods/#{good.id}", method: :delete, class: 'btn btn-danger btn-lg' %>
            <!--<button type="del" class="btn btn-danger btn-lg" >Delete</button>-->
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <%= will_paginate @goods %>