<div class="sidebar-offcanvas navigation" id="sidebar" role="navigation">

  <ul class="nav nav-sidebar">
    <li class="<%= 'active' if params[:controller] == 'users' && params[:action] == 'edit' %>">
      <%= link_to 'Settings', edit_user_path(current_user) %>
    </li>
    <li class="<%= 'active' if params[:controller] == 'orders' %>"><%= link_to 'Orders', orders_path %></li>
    <li class="<%= 'active' if params[:controller] == 'credits' %>"><%= link_to 'Credits', credits_path %></li>
    <li class="<%= 'active' if params[:controller] == 'payments' %>"><%= link_to 'Make payment', payments_path %></li>
  </ul>

</div>