<!DOCTYPE html>
<html>

<head>
  <title>Goods in Credit|Admin</title>
  <meta charset="utf-8">
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button"
                class="navbar-toggle collapsed"
                data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to 'Goods in Credit | Dashboard',
                    admin_dashboard_path,
                    class: 'navbar-brand a-nav1'%>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">

        </ul>
        <ul class="nav navbar-nav navbar-right">

          <li class="dropdown">
            <a href="#" class="dropdown-toggle a-nav"
               data-toggle="dropdown"
               role="button"
               aria-haspopup="true"
               aria-expanded="false">
              <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
              Private Office
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <% if !logged_in? %>
                  <li>
                    <%= link_to 'Log in', login_path %>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li>
                    <%= link_to 'Sign up', signup_path %>
                  </li>
              <% else %>
                  <li>
                    <%= link_to 'Log out', logout_path, method: :delete %>
                  </li>
              <% end %>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<main>
  <div class="row">
    <div class="col-md-2">
      <div class="sidebar-offcanvas navigation" id="sidebar" role="navigation">
        <ul class="nav nav-sidebar">
          <li class="<%= 'active' if params[:controller] == 'admin/users' %>">
            <%= link_to 'Users', admin_users_path %>
          </li>
          <li class="<%= 'active' if params[:controller] == 'admin/orders' %>">
            <%= link_to 'Orders', admin_orders_path %>
          </li>
          <li class="<%= 'active' if params[:controller] == 'admin/categories' %>">
            <%= link_to 'Categories', admin_categories_path %>
          </li>
          <li class="<%= 'active' if params[:controller] == 'admin/goods' %>">
            <%= link_to 'Goods', admin_goods_path %>
          </li>
        </ul>

      </div>
    </div>
    <div class="col-md-10">
      <%= render 'layouts/flash_messages' %>
      <%= yield %>
    </div>
  </div>


</main>

<footer>
  <p class="text-center">&copy; 2016  ОВВА!</p>
</footer>
</body>

</html>
