<!DOCTYPE html>
<html>

  <head>
    <title>Goods in Credit</title>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to 'Goods in Credit', root_path, class: 'navbar-brand a-nav1'%>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li>
                <%= link_to 'Goods catalog', categories_path, class: 'a-nav' %>
              </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li>
                <%= form_tag search_goods_path, method: :get, class: 'navbar-form navbar-left' do %>
                <!--<form class="navbar-form navbar-left">-->
                  <div class="input-group">
                    <%= text_field_tag :text, '',
                                      class: 'form-control bfh-phone',
                                      placeholder: 'Search please' %>
                    <!--<input type="text" class="form-control bfh-phone" placeholder="Давай бля, удиви меня!">-->
                    <span class="input-group-btn">
                      <%= button_tag type: 'submit', class: 'btn btn-default' do %>
                          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                      <% end %>
                    </span>
                  </div>
                <!--</form> -->
                <% end %>
              </li>
              <% if logged_in? %>
                <li>
                  <%= link_to shopping_cart_path,
                              class: 'a-nav',
                              role: 'button',
                              'aria-haspopup': 'true',
                              'aria-expanded': 'false' do
                  %>
                    <%= goods_in_cart > 0 ? goods_in_cart : '' %>
                    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                  <% end %>
                </li>
              <% end %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle a-nav" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Private Office<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <% if !logged_in? %>
                  <li>
                    <%= link_to 'Log in', login_path %>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li>
                    <%= link_to 'Sign up', signup_path %>
                  </li>
                  <% else %>
                      <li>
                        <%= link_to 'Profile settings', edit_user_path(current_user) %>
                      </li>
                      <li>
                        <%= link_to 'Orders', orders_path %>
                      </li>
                      <li>
                        <%= link_to 'Credits', credits_path %>
                      </li>
                      <li>
                        <%= link_to 'Payments', payments_path %>
                      </li>
                      <li role="separator" class="divider"></li>
                      <li>
                          <%= link_to 'Log out', logout_path, method: :delete %>
                      </li>
                  <% end %>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <p class="text-center">&copy; 2016  ОВВА!</p>
    </footer>
  </body>

</html>
